<!-- <p>pet travel works!</p> -->

<form>
    <div class="conatiner">
        <label class="form-group" for="name">Enter Your Budget</label>
        <input class="form-control col-sm-6" id="name" />
    </div>
    <div class="conatiner">
        <label class="form-group" for="location">Enter Your Location</label>
        <input class="form-control col-sm-6" id="location" />
    </div>
    <div class="conatiner">
        <label class="form-group" for="age">Enter Your Age</label>
        <input class="form-control col-sm-6" id="age" />
    </div>
    <div class="conatiner">
        <label class="form-group" for="gender">Enter Your Gender</label>
        <input class="form-control col-sm-6" id="gender" />
    </div>
    <div class="conatiner">
        <label class="form-group" for="food">Enfoodter Your Food-Diet</label>
        <input class="form-control col-sm-6" id="food" />
    </div>

    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-success">Cancel</button>
</form>